{% extends "base.html" %}

{% block content %}
<h1>URL Guessing exercise</h1>
<p>This app is a self-assessment tool for anyone who wishes to enhance their understanding about guessing URL endpoints. We have observed that this habit helps engineers to be very efficient while searching or scanning for any content.</p>
</p>
{% if user.is_authenticated %}
    <p>Username: {{user.username}}</p>
    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
{% endif %}

{% endblock  %}